#gridPane{
	-fx-font-size: 18px;
}

.button {
    -fx-background-color: #bcccdc;
    -fx-text-fill: #102a43;
    -fx-border-color: #102a43;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #102a43;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.text-field {
	-fx-text-fill: #102a43;
	-fx-font-weight: bold;
    -fx-border-color: #102a43;
	-fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.scroll-pane .viewport {
    -fx-background-color: #f0f4f8; 
}